.theme-toggle-body {
  padding: 0px 4px;
  background: rgba(128, 128, 128, 0.2);
  border-radius: 7px;
}

.theme-toggle {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
}

/* buttons */
.theme-toggle button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 13px;
  padding: 7px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111827;
}

/* sliding indicator */
.toggle-indicator {
  position: absolute;
  top: 3px;
  bottom: 3px;
  width: 33.33%;
  border-radius: 5px;
  transition: 0.25s ease;
  z-index: 1;
}

/* LIGHT MODE */
html.light .toggle-indicator {
  background: white;
}

/* DARK MODE (stronger contrast) */
html.dark .toggle-indicator {
  background: #37557e;
}

/* positions */
.toggle-indicator.light {
  left: -1.7%;
}

.toggle-indicator.dark {
  left: 33.33%;
}

.toggle-indicator.system {
  left: 68.66%;
}

/* DARK MODE STYLES */
html.dark .theme-toggle-body {
  background: #111827;
}

html.dark .theme-toggle button {
  color: #e5e7eb;
}

/* OPTIONAL: better hover feel */
.theme-toggle button:hover {
  opacity: 0.6;
}

html.dark .toggle-indicator {
  background: rgba(38, 68, 97, 0.5);
}

/* GLOBAL BACKGROUND FIX */
html.dark {
  background-color: #000;
}

html.light {
  background-color: #fff;
}

.isLoading {
  opacity: 0.7;
  cursor: not-allowed;
}



